.tableContainer-OuXcFHzP {
    color: rgb(209, 212, 220);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu, sans-serif;
    font-feature-settings: "tnum", "lnum";
    font-size: 14px;
    height: 756.4px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    width: 1020.6px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tbody {
    border-bottom-color: rgb(128, 128, 128);
    border-collapse: separate;
    border-left-color: rgb(128, 128, 128);
    border-right-color: rgb(128, 128, 128);
    border-top-color: rgb(128, 128, 128);
    color: rgb(209, 212, 220);
    color-scheme: dark;
    cursor: default;
    display: table-row-group;
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu, sans-serif;
    font-feature-settings: "tnum", "lnum";
    font-size: 14px;
    height: 4080px;
    text-indent: 0px;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 1308.97px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

